<td-layout-card-over cardTitle="List of events" cardSubtitle="It's really dangerous" cardWidth="75">
    <md-card-content>
        <md-nav-list>
            <md-list-item *ngFor="let ev of event_list">
                <h3 mdLine> {{ev.event_description}} </h3>
                <p mdLine>
                    <span> {{ev.date | date:"MM/dd/yy"}} </span>
                </p>
                <button md-icon-button [routerLink]="[ev._id,'edit']"><md-icon>edit</md-icon></button>
                <button md-icon-button color="warn" (click)="onDeleteItem(ev._id)"><md-icon color="warn">delete_forever</md-icon></button>
            </md-list-item>
        </md-nav-list>
    </md-card-content>
</td-layout-card-over>

