<td-layout-card-over cardTitle="List of events" cardSubtitle="It's really dangerous" cardWidth="75">
    <div layout="column" layout-align="center stretch" layout-padding>
        <ng-template ngFor let-notif [ngForOf]="notifications">
            <div flex [ngSwitch]="notif?.message.status" [@tdFadeInOut]="notif.timeToShow">
                <td-message *ngSwitchCase="'start'"
                            label="Someone {{notif.message.event.event_description}}!"
                            sublabel="{{notif.ts | timeAgo }}"
                            color="accent"
                            icon="info">
                    <!--<button td-message-actions mat-button>VIEW MORE</button>-->
                </td-message>
                <td-message *ngSwitchCase="'active'"
                            label="Same person has 10 sec to respond"
                            sublabel="{{notif.ts | timeAgo }}"
                            color="purple"
                            icon="error">
                </td-message>
            </div>
        </ng-template>
    </div>
    <md-card-content>
        <md-nav-list>
            <md-list-item *ngFor="let ev of event_list">
                <h3 mdLine> {{ev.event_description}} </h3>
                <p mdLine>
                    <span> {{ev.date | date:"MM/dd/yy"}} </span>
                </p>
                <button md-icon-button [routerLink]="[ev._id,'edit']"><md-icon>edit</md-icon></button>
                <button md-icon-button color="warn" (click)="onDeleteItem(ev._id)"><md-icon color="warn">delete_forever</md-icon></button>
            </md-list-item>
        </md-nav-list>
    </md-card-content>
</td-layout-card-over>

